.navbar-brand{
    margin-left: 100px;
}
.navbar-nav{
    margin-left: 900px;
}
.nav-item{
    text-decoration: goldenrod;
}
#div1{
  position: relative;
  animation: mymove 7s infinite;
  margin-top: 30px;
  
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 1530px;}
  }
#header{
    background-color: white;
}