.navbar-brand{
    margin-left: 50px;
    padding-right: 60%;
}
.navbar-nav{
    right: 0;   
    display: inline-block;
}
.nav-item{
    margin-left: 20px;;
    font-weight: 500;
    font-size: 20px;
    text-decoration: goldenrod;
}

           /* replace with marquee tag */
/* #div1{
  position: relative;
  animation: mymove 1s infinite;
  margin-top: 30px;
  
}
@keyframes mymove1 {
    from {left: 0px;}
    to {left: 1530px;}
  } */
#header{
    background-color: white;
}